@media (min-width: 576px) {
    .container-fluid {
        width: 565px;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        width: 740px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        width: 975px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 1125px;
    }
}

.main-container {
    margin-top: 56px;
}
