body {
	font-family: 'Roboto', sans-serif;
}
/* Image on the left side */
.thumbnail {
	float : left;
	position : relative;
	top : -8%;
    width: 40%;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
}

img.left{
	position: absolute;
	left: 5%;
	top: 50%;
	width: 100%;
}
.right{
    height: 19vw;
    margin-left: 50%;
    margin-right: 5%;
    .title{
        height: 5vw;
        font-size: 1.7vw;
        margin-bottom: 2%;
    }
}
h1{
	padding-top : 15px;
	font-size : 1.3rem;
	color : #4B4B4B;
}
.author{
	background-color : #9ECAFF;
    height: 1.6vw;
    width: 6.2vw;
	border-radius : 20px;
}
// .author>img{
// 	padding-top : 5px;
// 	margin-left : 10px;
// 	float : left;
// 	height : 20px;
// 	width : 20px;
// 	border-radius : 50%;
// }
h2{
	padding-top : 8px;
	margin-right : 6px;
	text-align : center;
	font-size : 0.8rem;
	color :white;
}
.separator{
	margin-top : 10px;
	border : 1px solid #C3C3C3;
}
p{
	text-align: justify;
	padding-top : 10px;
	font-size : 0.9vw;
	line-height: 150%;
	color : #4B4B4B;
}
.date{
	font-size : 4vw;
	color : #C3C3C3;
}
.month{
	font-size : 2vw;
	color : #C3C3C3;
}
.card {
    position : relative;
	height: 23vw;
    margin: 10% auto 5% auto;
	background-color : #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
    ul {
	margin-left : 250px;
    }
    .card-date{
        height: 4vw;
        display: inline-flex;
        align-items: center;
        .date{
            line-height: normal;
        }
        .month{
            margin-left: 1%;
        }
    }
}
li{
	display: inline;
	list-style: none;
	padding-right: 40px;
	color : #7B7B7B;
}
